@import "compass";

.column-spiff_station_synced {
	width: 30px;
	text-align: center;
	.is-frozen {
		opacity: 0.2;
	}
}
.column-spiff_station_requests {
	width: 80px;
}
.column-spiff_station_health {
	width: 80px;
}
#the-list .tracks-table {
	.track-album {
		display: none;
	}
	td {
		display: inline;
		padding: 0;
		margin: 0;
		&.track-artist:after {
			content: " - ";
		}
	}
}